/* ------------------------共用------------------------- */
*{
    box-sizing: border-box;
    color: #3A6D9A;
}

input:focus{
outline: 0;
}

textarea:focus{
outline: 0;
}

.bd-bot{
  border: 0;
  border-bottom: 1px solid #000;
}
.table-btn{
  cursor: pointer;
}
.tab{
  display: none;
}

.btn-effect:hover{
  opacity: 0.8;
}
/* -----------------封面圖----------------- */
.create-trip-photo{
  background-image: url(../..//img/lu/background.png); 
  width: auto; 
  height: 45vh; 
  background-size: cover;
}

/* -----------------流程圖----------------- */
.step { 
    cursor: pointer; 
    background-color: #006c9b;
    opacity: 0.3;
}
.step-text {
  cursor: pointer;
  color: #006c9b;
  opacity: 0.5;
}
/* 步驟進行中 */
.step.active {
    opacity: 1;
}
.step-text.active {
    opacity: 1;
}
/* -----------------活動名稱----------------- */
.act-textarea{
  resize: none;
}
.day-count{
  margin-left: 1rem;
  font-size: 1.2rem;
}
.act-textarea:focus{
  opacity: 1;
}
/* -----------------行程規劃----------------- */
th ,td{
  height: 4rem;
  text-align: center;
}

.add-delete-btn{
  width: 1.5rem;
  background-color: grey;
  color: white;
  margin: 0;
}

::placeholder{
  color: #006c9b;
}
/* -------------------按鈕------------------- */
.backtohome{
  width: 6rem;
  color: #fff;
  text-align: center;
  display: none;
  text-decoration: none;
  margin: 0 auto;
}

.backtohome:hover{
  color: white;
}

.submit-btn{
  display: none;
  margin: 0 auto;
}

/* 表單 */
.invalid{
  border: 0;
  background-color: rgb(206, 165, 175, 0.3);
}
