<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../style/style.css" />
  <link rel="stylesheet" href="../nav/nav.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet" />
  <script src="https://www.w3schools.com/lib/w3.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.js"
    integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
  <title>Document</title>

</head>

<body style="height: 100vh;">
  <!-- NAV BAR -->
  <div w3-include-HTML="../nav/nav.html"></div>
  <!-- NAV BAR -->
  <!-- ↓ 把網頁的內容放在NAV BAR 與 FOOTER 的中間 ↓ -->
  <div
    style="background-image: url(../..//img/lu/253-1440x500.jpg); width: auto; height: 45vh; background-size: cover;">
  </div>
  <h1 class="text-center" style="font-weight: bolder; color: #006c9b; position: relative; bottom: 5vh;">感謝填寫，預祝您旅途愉快!
  </h1>
  <!-- ↑ 把網頁的內容放在NAV BAR 與 FOOTER 的中間 ↑ -->
  <!-- FOOTER -->
  <div w3-include-HTML="../footer/footer.html" class="footerDistance"></div>
  <!-- FOOTER -->
  <script>
    w3.includeHTML();
  </script>
  <script src="../nav/nav.js"></script>
  <script src="../style/vendors/bootstrap-5.1.1/dist/js/bootstrap.bundle.js"></script>
</body>

</html>